<!DOCTYPE html>
<html lang="pt-br" ng-app="app1">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_pt-br.js"></script>

    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
</head>

<body>
    <div class="container" ng-controller="controller1">
        <div class="panel panel-primary container">
            <h1>{{char.name}}</h1>
            <p>{{char.type}}</p>
            <p>{{char.power}}</p>
        </div>
        <p>
            <input type="text" ng-model="char.name">
        </p>
        <p>
            <input type="text" ng-model="char.type">
        </p>
        <p>
            <input type="number" ng-model="char.power">
        </p>
        <pre>{{char|json}}</pre>
    </div>
</body>

</html>